body {
    background: #fafafa;
}

@font-face {
    font-family: BebasNeue; font-weight: bold; src: url('/fonts/BebasNeue Bold.otf');
}

#wrap {
    margin-top: 40px;
    margin-bottom: 60px;
}

.brand-logo {
    font-family: BebasNeue, sans-serif;
    font-size: 2.3rem !important;
}

/* Button file input */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.toast-success {
    background: #2e7d32;
}