/* Picture frame */
.picture-preview-row {
    display: flex;
    margin-top: 20px;
    overflow: auto;
    /*margin-left: 5px;*/
}

.pic-preview {
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;
}

.pic-preview-wrap {
    height: 130px;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EEEEEE;
}

.pic-preview-wrap > i {
    position: absolute;
    display: none;
    pointer-events: initial;
    margin-left: 5px;
}

.pic-preview-wrap:hover > i {
    display: block;
}

.pic-preview-wrap > i:hover {
    cursor: pointer;
}

/*.pic-preview-wrap img:hover {*/
    /*-webkit-filter: brightness(70%);*/
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*-ms-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
/*}*/

.pic-preview-wrap .material-placeholder,
.pic-preview-wrap-no-border .material-placeholder {
    margin: 0 auto;
}

.pic-preview-wrap .valign-wrapper {
    height: 100%;
}