<template name="categoriesNav">
    <li><a href="/search?&q=&category=">All</a></li>
    <li><a href="/search?&q=&category=Antiques">Antiques</a></li>
    <li><a href="/search?&q=&category=Appliances">Appliances</a></li>
    <li><a href="/search?&q=&category=Art">Art</a></li>
    <li><a href="/search?&q=&category=Auto Parts">Auto Parts</a></li>
    <li><a href="/search?&q=&category=Baby">Baby</a></li>
    <li><a href="/search?&q=&category=Beauty">Beauty</a></li>
    <li><a href="/search?&q=&category=Boats">Boats</a></li>
    <li><a href="/search?&q=&category=Books">Books</a></li>
    <li><a href="/search?&q=&category=Business">Business</a></li>
    <li><a href="/search?&q=&category=Cars">Cars</a></li>
    <li><a href="/search?&q=&category=Cell Phones">Cell Phones</a></li>
    <li><a href="/search?&q=&category=Clothes">Clothing</a></li>
    <li><a href="/search?&q=&category=Collectibles">Collectibles</a></li>
    <li><a href="/search?&q=&category=Computers">Computers</a></li>
    <li><a href="/search?&q=&category=Electronics">Electronics</a></li>
    <li><a href="/search?&q=&category=Furniture">Furniture</a></li>
    <li><a href="/search?&q=&category=Garden">Garden</a></li>
    <li><a href="/search?&q=&category=Home">Home</a></li>
    <li><a href="/search?&q=&category=Jewelry">Jewelry</a></li>
    <li><a href="/search?&q=&category=Motorcycles">Motorcycles</a></li>
    <li><a href="/search?&q=&category=Music">Music</a></li>
    <li><a href="/search?&q=&category=Pet Supplies">Pet Supplies</a></li>
    <li><a href="/search?&q=&category=Sporting">Sporting</a></li>
    <li><a href="/search?&q=&category=Tickets">Tickets</a></li>
    <li><a href="/search?&q=&category=Toys">Toys</a></li>
    <li><a href="/search?&q=&category=Video Games">Video Games</a></li>
</template>